@page "/germany_town"
@inject HttpClient Http

<h3>German Towns</h3>


@if (towns == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Name2</th>
@*                 <th>Village</th>
                <th>County</th>
                <th>State</th>
                <th>Country</th>
                <th>Code</th>
 *@            </tr>
        </thead>
        <tbody>
            @foreach (var town in towns.OrderBy(t=>t.name))
            {
                k++;
                <tr>
                    <td>@k</td>
                    <td>@town.name</td>
                    <td>@town.display_name</td>
@*                     <td>@village.address?.village</td>
                    <td>@village.address?.county</td>
                    <td>@village.address?.state</td>
                    <td>@village.address?.country</td>
                    <td>@village.address?.country_code</td>
 *@
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private town[]? towns;
    private int k = 0;
    protected override async Task OnInitializedAsync()
    {
        towns = await Http.GetFromJsonAsync<town[]>("sample-data/germany_town.json");
    }

    public class town
    {
        public string? name { set; get; }
        public string? display_name { set; get; }
        public address? address { set; get; }
    }

    public class address
    {
        public string? town { set; get; }
        public string? suburb { set; get; }
        public string? municipality { set; get; }
        public string? postcode { set; get; }
        public string? county { set; get; }
        public string? state { set; get; }
        public string? country { set; get; }
        public string? country_code { set; get; }

    }


}
